

<section class="sidebar" data-ng-controller="appLeftMenuController">

    <div class="user-panel">
        <div class="pull-left image">
            <img src="{{userInfo.imagePath}}" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>Hello, {{userInfo.loginID}}</p>

            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>

    <ul class="sidebar-menu">
    	
    	<li data-ng-repeat="item in menu" data-ng-class="{ treeview : item.child.length > 0}" id="{{item.id}}">
    		<a data-ng-click="clickTopItem(item)" class="link-pointer">
                <i class="{{item.class}}"></i>
                <span>{{item.text}}</span>
                <i class="fa pull-right fa-angle-left" data-ng-if="item.child.length > 0"></i>
            </a>
            <ul class="treeview-menu" data-ng-if="item.child.length > 0">
                <li data-ng-repeat="childItem in item.child" style="margin-left: 10px; cursor: pointer;" data-ng-click="clickChildItem(childItem)" id="{{childItem.id}}">
                	<a>
                		<i class="{{childItem.class}}"></i> {{childItem.text}}
                	</a>
                </li>
	        </ul>
    	</li>
    	
    </ul>
    
</section>


