
<div class="navbar navbar-inverse navbar-static-top navbar-fixed-top" data-ng-controller="appTopMenuController">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- <a class="navbar-brand" href="#">Oppo Finance</a> -->
			<a class="navbar-brand" href="#"></a>
		</div>
		<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li data-ng-repeat="webLeftMenu in topMenus">
                    <a href="#/{{webLeftMenu.url}}" data-ng-if="webLeftMenu.child == undefined || webLeftMenu.child.length == 0">{{webLeftMenu.text}}</a>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" data-ng-if="webLeftMenu.child.length > 0">{{webLeftMenu.text}}<span class="caret"></span></a>
                    <ul class="dropdown-menu multi-level dropnavmenu" data-ng-if="webLeftMenu.child.length > 0">
                        <li data-ng-repeat="secondLevel in webLeftMenu.child" data-ng-class="secondLevel.child.length > 0 ? 'dropdown-submenu' : ''">
                        	<a href="#/{{secondLevel.url}}" data-ng-if="secondLevel.child == undefined || secondLevel.child.length == 0">{{secondLevel.text}}</a>
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-ng-if="secondLevel.child.length > 0">{{secondLevel.text}}</a>
                        	<ul class="dropdown-menu" data-ng-if="secondLevel.child.length > 0 ">
                                <li data-ng-repeat="thirdLevel in secondLevel.child">
                                	<a href="#/{{thirdLevel.url}}">{{thirdLevel.text}}</a>
                               	</li>
                            </ul>
                       	</li>
                    </ul>
                </li>
            </ul>
		            
            <ul class="nav navbar-nav navbar-right">
				<!-- <li><a>{{topRightMenu.text}}</a></li>-->
				 <li class="dropdown">
				 	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{topRightMenu.text}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    	<li data-ng-repeat="secondLevel in topRightMenu.child">
                            <a href="" data-ng-click="showPage(secondLevel.url)">{{secondLevel.text}}</a>
                        </li>
                    </ul>
				 </li>
			</ul>
			
		</div>
	</div>
</div> 