
<br/><br/><br/>

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-xs-12">
			<font size="+2">Welcome! <b>{{adminDashboardInfo[1].firstName}} {{adminDashboardInfo[1].lastName}}</b></font>
			<marquee><font size="+1">{{adminDashboardInfo[0]}}</font></marquee>	
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-xs-12">
			<p>Your roll is <b>Administrator</b></p>
			<p>Your user opening date is &nbsp;&nbsp;{{adminDashboardInfo[1].createdOn|date:"MMM dd, yyyy"}}</p>
		</div>
		<div class="col-lg-8 col-xs-12">
			<p>A/c verification request pending :&nbsp;&nbsp;{{adminDashboardInfo[2][0]}}</p>
			<p>Request for upper rank pending :&nbsp;&nbsp;{{adminDashboardInfo[2][1]}}</p>
			<p>Deposit request pending :&nbsp;&nbsp;{{adminDashboardInfo[2][2]}}</p>
			<p>Transfer request pending :&nbsp;&nbsp;{{adminDashboardInfo[2][3]}}</p>
			<p>Withdrawal request pending :&nbsp;&nbsp;{{adminDashboardInfo[2][4]}}</p>
			<p>Trade request pending :&nbsp;&nbsp;{{adminDashboardInfo[2][5]}}</p>
			<p>Trade discontinuation request pending :&nbsp;&nbsp;{{adminDashboardInfo[2][6]}}</p>
			<p>Total active member :&nbsp;&nbsp;{{adminDashboardInfo[2][7]}}</p>
		</div>
	</div>
</div>
