
<br/><br/><br/>

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-xs-12">
			<marquee><font size="+1">DPP</font></marquee>	
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-xs-12">
			<p>Your roll is <b>User</b></p>
		</div>
		<div class="col-lg-8 col-xs-12">
		</div>
	</div>
</div>
