
@font-face {
    font-family: myBanglaFont;
    src: url(../fonts/SolaimanLipi_22-02-2012.ttf);
    font-weight: bold;
}

.header {	
	position: relative;
  	background: #384041;
  	color: #d4d9d7;
}

.vertical-align {
	display: flex;
	flex-direction: row;
}

.vertical-align > [class^="col-"], .vertical-align > [class*=" col-"] {
	display: flex;
	align-items: center;
	justify-content: center; /* Optional, to align inner items horizontally inside the column */
}

/* Start of Top Menu */
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
	background-color: #1e5225;
}
.navbar-default .navbar-nav .open .mydropdownmenu > li > a {
	color: #fff;
}
.navbar-default .navbar-nav .open .mydropdownmenu>li>a:focus, .navbar-default .navbar-nav .open .mydropdownmenu>li>a:hover {
	color: #fff;
	background-color: #1e5225;
}
/* End of Top Menu */


/* Start of Footer */
.footer {
	margin: 0;
	border-top: #5DAB41 4px solid;
	width: 100%;
	background-color: #222;
	color: #ccc;
}
.copyright {
	background: #111;
	padding: 7px 0;
	border-top: 1px solid #181818;
	color: #444;
}
.social {
	display: inline-block;
	cursor: pointer;
	width: 32px;
	height: 32px;
	margin-right: 5px;
}
.facebook {
	background: rgba(0, 0, 0, 0) url("../images/socialpack/facebook.png") repeat scroll 0 0
}
.facebook:hover {
	background: rgba(0, 0, 0, 0) url("../images/socialpack/facebooka.png") repeat scroll 0 0
}
.twitter {
	background: rgba(0, 0, 0, 0) url(../images/socialpack/twitter.png);
}
.twitter:hover {
	background: rgba(0, 0, 0, 0) url(../images/socialpack/twittera.png);
}
.back-top {
	bottom: 55px;
	right: 20px;
	margin-bottom: 0;
	display: block;
	position: fixed;
	display: block;
}
.back-top a {
	width: 50px;
	nowhitespace: afterproperty;
	height: 50px;
	display: block;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background: #333 url(../images/up-arrow.png) no-repeat center center;
	border-radius: 5px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
.back-top span {
	width: 50px;
	nowhitespace: afterproperty;
	height: 50px;
	display: block;
	border-radius: 10px;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
/* End of Footer */


/* Custom dialog/modal headers */
.modal-header-error { background-color: #d2322d; }
.modal-header-wait { background-color: #428bca; }
.modal-header-notify { background-color: #eeeeee; }
.modal-header-confirm { background-color: #00AF33; }
.modal-header-error span, .modal-header-error h4,
.modal-header-wait span, .modal-header-wait h4,
.modal-header-confirm span, .modal-header-confirm h4 { color: #ffffff; }
.modal-dialog {
	position: initial;
}

.mandatory {
	color : red;
	margin-left: 1px;
	font-weight: bolder;	
}

.module_gry div.modulebody p {
	text-align: justify; line-height: 1.6;
}

.module_gry div.modulebody {
	padding: 2px 10px;
}

.addButton {
	float: right;
	margin-top : -57px;
	
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
a.tip {
        position: relative;
        top:-3px;
        left: -7px;
    }

    a.tip span {
        display: none;
        position: absolute;
        top: -5px;
        left: 30px;
        width: 250px;
        padding: 5px;
        z-index: 100;
        background:#fffAF0;
        /*background: transparent url(../../Images/icons/black_arrow.png);*/
        /*color: #eee;*/
         color: #777;
        -moz-border-radius: 5px; /* this works only in camino/firefox */
        -webkit-border-radius: 5px; /* this is just for Safari */
         border-left:1px solid #DCA;
         border-right:1px solid #DCA;
         border-top:1px solid #DCA;
         border-bottom:1px solid #DCA;


    }

    a.tip span:before{
        content:'';
        display:block;
        width:8px;
        height:8px;
        position:absolute;
    
    
        /*border-left:1px solid #DCA;
         border-right:1px solid #DCA;
         border-top:1px solid #DCA;
         border-bottom:1px solid #DCA;*/
        transform:rotate(43.8deg);
        -ms-transform:rotate(43.8deg); /* IE 9 */
        -webkit-transform:rotate(43.8deg); /* Safari and Chrome */
        border-left:1px solid #DCA;
         border-right:1px solid transparent;
        border-top: 1px solid transparent;
         border-bottom:1px solid #DCA;
         background-color: #fffAF0;
        /*background-color: red;*/
        left:-5px;
        top:8px;

    }

    a:hover.tip {
        font-size: 99%; /* this is just for IE */
    }

    a:hover.tip span {
        display: block;
    }
  span.validaTionStyle {
	color: #DD4B39;
	display: inline-block;
	font-size: 15px;
	line-height: 13px;
	margin: 4px 0px;
	text-align: left;
}

span.question {
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: #CACACA;
	line-height: 16px;
	color: White;
	font-size: 0.7em;
	font-weight: bold;
	border-radius: 8px;
	text-align: center;
	position: relative;
	margin: 8px 4px;
}
span.select-box-question {
	/* margin: 6px 1px !important; */
}
div[ng-app] { margin: 10px; }
.table {width: 100% }
form[editable-form] > div {margin: 10px 0;}
.chosefile 
{
	margin-left:-15px;
	width: 68.333333%;
}
table { border-collapse: collapse; }
.percent {
    position: absolute; 
    width: 300px; 
    height: 14px; 
    z-index: 1; 
    text-align: center;
    font-size: 0.8em; 
    color: white;
}
.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}
.dropbox {
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
}
.dropbox span {
    margin-top: 0.9em;
    display: block;
}
.dropbox.not-available {
    background-color: #F88;
}
.dropbox.over {
    background-color: #bfb;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin-top: -10px;
	margin-left: 5px;
}
.progress .progress-bar.six-sec-ease-in-out {
    -webkit-transition: width 6s ease-in-out;
    -moz-transition: width 6s ease-in-out;
    -ms-transition: width 6s ease-in-out;
    -o-transition: width 6s ease-in-out;
    transition: width 6s ease-in-out;
    height: 90%;
}
.uploadTextBox{
	width :124px;
	margin-left: 595px;
	margin-top: -50px;
}
.fileNameTextBox{
	width: 580px;
}
.pagination{
	margin-right: 10px;
}
.forgetPasswordButton{
	margin-left: -10px;
}

