
<br/><br/><br/>

<div class="container">
	<div class="row">
		<div class="col-lg-12 col-xs-12">
			<font size="+2">Welcome!</b></font>
			<marquee><font size="+1">{{saDashboardInfo[0]}}</font></marquee>	
		</div>
	</div>
</div>
