
<div class="row">
	<div class="col-xs-12">
		<div data-ng-include="messagePageLocation"></div>
	</div>
</div>

<div class="container">
	<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-info">			
			<div class="panel-heading">
				<div class="panel-title">Sign In</div>
	            <div style="float:right; font-size: 100%; position: relative; top:-10px">
	            	<a onClick="$('#loginbox').hide(); $('#forgotpasswordbox').show()">Forgot password?</a>
	            </div>
            </div>            
            <div style="padding-top:30px" class="panel-body" >
	        	<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
            	<form id="loginform" class="form-horizontal" role="form">						
					<div style="margin-bottom: 25px" class="input-group">
                    	<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input id="txtLoginId" type="text" class="form-control" name="username" placeholder="Enter login id (email address or A/c No.)" 
                        data-ng-model="login.loginID" onClick="this.setSelectionRange(0, this.value.length)" />  
                    </div>	                    
                    <div style="margin-bottom: 25px" class="input-group">
                    	<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="txtPassword" type="password" class="form-control" name="password" placeholder="Enter password..." 
                        data-ng-model="login.userPassword" onClick="this.setSelectionRange(0, this.value.length)" />
					</div>						
					<div style="margin-top:10px" class="form-group">
						<div class="col-sm-12 controls">
                        	<button id="btn-login" class="btn btn-primary" data-ng-click="signIn(login)" Title="Login...">
                        		Login&nbsp;<span class="glyphicon glyphicon-log-in" style="vertical-align:top;"></span>
                        	</button>
                           </div>
					</div>	
					<div class="form-group">
						<div class="col-md-12 control">
                        	<div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                            	Want to be member&nbsp;!&nbsp;&nbsp;
                            	<a data-ng-click ="goToSignUpPage()">Sign Up Here</a>
                           	</div>
                       	</div>
					</div>						    
				</form> 
			</div>
		</div>
	</div>
        
	<div id="forgotpasswordbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Forgot Password</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" data-ng-click = "reset()" 
                onclick="$('#forgotpasswordbox').hide(); $('#loginbox').show()">Sign In</a></div>
            </div>  
            <div class="panel-body" >
                <form id="signupform" name="forgetPasswordForm" class="form-horizontal" role="form">
                   	<div class="form-group">
                        <label class="control-label">Email<b style="color:red"> *</b></label>
						<input class="form-control" placeholder="Enter email address..." id="txtEmailAddress"
							data-ng-model="user.loginIDEmailAddress" data-ng-blur = "checkEmailAddress(user.loginIDEmailAddress)" />
						<span id="validaTionEmailAddress" class="validaTionStyle" style="display: none" data-i18n="required_field"></span>
					</div>
					<div class="form-group">
						<label class="control-label">Security Question<b style="color:red"> *</b></label>
						<select data-ng-model="user.securityQuestion" data-ui-select2 class="form-control" style="padding: 0px;" id="txtSecurityQuestion"
							data-ng-change="checkSecurityQuestion(user.securityQuestion)" data-placeholder="Enter select security question...">
							<option></option>
							<option data-ng-selected="{{question.key == signup.memberBean.securityQuestion}}" 
							data-ng-repeat="question in securityQuestions" value="{{question.key}}">{{question.value}}</option>
						</select>
						<span id="validaTionSecurityQuestion" class="validaTionStyle" style="display: none" data-i18n="required_field"></span>
					</div>							
					<div class="form-group">
						<label class="control-label">Security Question Answer<b style="color:red"> *</b></label>
						<input class="form-control" placeholder="Enter security question answer..." id="txtSecurityQuestionAnswer"
							data-ng-model="user.securityQuestionAnswer" data-ng-blur="checkSecurityQuestionAnswer(user.securityQuestionAnswer)" />
						<span id="validaTionSecurityQuestionAnswer" class="validaTionStyle" style="display: none" data-i18n="required_field"></span>
					</div>
                   	<div class="form-group">	                                                         
                       	<div class="col-md-offset-3 col-md-9 forgetPasswordButton">
                       		<button class="btn btn-primary" data-ng-click="sendPasswordToEmail(user)" Title="Send password...">
                       			<i class="fa fa-envelope-o fa-fw"></i>&nbsp;&nbsp;Send Password
                       		</button>
                       	</div>
                   	</div>
                </form>
             </div>
        </div>
	</div> 
</div>


