

<div class="row">

	<div class="col-md-12">

		<h3>Roads and Highways Department (RHD) - MIS</h3>
		<div id="slides_control">
			<div>
				<carousel interval="myInterval"> <slide
					data-ng-repeat="slide in slides" active="slide.active"> <img
					data-ng-src="{{slide.image}}" height="80px" />
				<div class="carousel-caption">
					<h4>Slide {{$index+1}}</h4>
				</div>
				</slide> </carousel>
				<br />
			</div>
		</div>

		<br /> 

		<div class="grid__row s_mb_27 flex__row">
			<div
				class="box box_type_default box_bordered_yes box_rounded_yes grid__col grid__col_w_16">
				<h2 class="box__header">At A Glance</h2>
				<div class="box__content">
					<div class="main__analytics-review">
						<div class="main__analytics-review-photo">
							<a href="/en/analytics/analysts/antonov/"> <img width="38" height="45" alt="Vladislav Antonov" src=""></a>
						</div>
						<div class="main__analytics-review-content">
							<p class="s_mb_9"> 15 October, 09:24 (GMT+3)
								<span class="main__analytics-review-category">RHD</span>
							</p>
							<h3 class="main__analytics-review-title">
								<a href="">Upcoming</a>
							</h3>
						</div>
					</div>
					<div class="main__analytics-review">
						<div class="main__analytics-review-photo">
							<a href="/en/analytics/analysts/antonov/"> <img width="38" height="45" alt="Vladislav Antonov" src=""></a>
						</div>
						<div class="main__analytics-review-content">
							<p class="s_mb_9">15 October, 08:05 (GMT+3)<span class="main__analytics-review-category">RHD</span>
							</p>
							<h3 class="main__analytics-review-title">
								<a href="/en/analytics/reviews/market_sessions/10587_15102015/">Upcoming</a>
							</h3>
						</div>
					</div>
					<div class="main__analytics-review">
						<div class="main__analytics-review-photo">
							<a href="/en/analytics/analysts/indeeva/"><img width="38" height="45" alt="## indeeva" src=""></a>
						</div>
						<div class="main__analytics-review-content">
							<p class="s_mb_9">14 October, 16:43 (GMT+3)
								<span class="main__analytics-review-category">RHD</span>
							</p>
							<h3 class="main__analytics-review-title">
								<a href="/en/analytics/reviews/reviews_media/10582_14102015/">Upcoming</a>
							</h3>
						</div>
					</div>
				</div>
				
			</div>
			<div class="grid__col grid__col_w_8 flex__col">
				<div
					class="box box_type_default box_bordered_yes box_rounded_yes s_mb_27 flex__growable">
					<h2 class="box__header">RHD News</h2>
					<div class="box__content s_p_0">
						<ul class="list list_space_9 main__news-list">
							<li><span class="s_display_inline-block s_mr_10">10/10/2015</span><a
								href="/en/company/news/3184_12102015/"></a></li>
							<li><span class="s_display_inline-block s_mr_10">09/10/2015</span><a
								href="/en/company/news/3179_09102015/"></a></li>
							<li><span class="s_display_inline-block s_mr_10">08/10/2015</span><a
								href="/en/company/news/3177_08102015/"></a></li>
							<li><span class="s_display_inline-block s_mr_10">06/10/2015</span><a
								href="/en/company/news/3170_06102015/"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<p>
		The Roads and Highways Department (RHD) was created in 1962 when the old 'Communication & Building (C&B) organisation was split into 2 separate 
		bodies (the other being Public Works Department). RHD is responsible for communication and maintenance of the major road and bridge network of Bangladesh.
		<br /><br />
		Since the Department was established the size of the major road network in Bangladesh has grown from 2,500 kms to the present network of 21,302.08 Km.
		<br /><br />
		The RHD is headed by a Chief Engineer who is supported by a number of Additional Chief Engineers. The total number of posts in the Department is 9,369.
		</p>

		<br />

	</div>
</div>


