
<div class="modal-header" style=background-color:yellow>
	<h4 class="modal-title ng-binding"><font color=red><b>Confirmation&nbsp;:&nbsp;<span>{{modalOptions.headerText}}</span></b></font></h4>
</div>

<div class="modal-body">
  <h4><span>{{modalOptions.bodyText}}</span></h4>
</div>

<div class="modal-footer">
	<button class="btn btn-danger" ng-click="modalOptions.close()" title="No...">
		<span class="glyphicon glyphicon-remove" style="vertical-align:top;"/>&nbsp;<span style="vertical-align:top;" data-i18n="no"/>
	</button>
	<button class="btn btn-success" ng-click="modalOptions.ok()" title="Yes...">
		<span class="glyphicon glyphicon-ok" style="vertical-align:top;"/>&nbsp;<span style="vertical-align:top;" data-i18n="yes"/>
	</button>
</div>

