

<div class="modal-header modal-header-confirm">
	<h4 class="modal-title ng-binding">
		<span></span>{{modalOptions.headerText}}
	</h4>
</div>
<div class="modal-body">
  <h4>  Are you sure to delete <b> {{modalOptions.documentFileName}}</b> ?</h4>
</div>
 <div class="modal-footer">
		<button class="btn btn-info" ng-click="modalOptions.close()"><i class="fa fa-times"></i>  {{modalOptions.closeButtonText}}</button>
		<button type="submit" class="btn btn-primary" ng-click="modalOptions.ok()"><i class="fa fa-trash-o"></i> {{modalOptions.actionButtonText}}</button>
</div>
