
<div class="modal-header modal-header-confirm">
	<h4 class="modal-title ng-binding">Information&nbsp;:&nbsp;<span data-i18n="{{modalOptions.headerText}}"></span>
	</h4>
</div>

<div class="modal-body">
	<span data-i18n="{{modalOptions.bodyText}}"></span>
</div>

<div class="modal-footer">
  	<button type="button" class="btn btn-primary" data-ng-click="modalOptions.close()">{{modalOptions.closeButtonText}}</button>
</div>

