
<div class="modal-header" style=background-color:red>
	<h4 class="modal-title ng-binding"><font color=white><b>Warning&nbsp;:&nbsp;<span data-i18n="{{modalOptions.headerText}}"></span></b></font></h4>
</div>

<div class="modal-body">
	<span data-i18n="{{modalOptions.bodyText}}"></span>
</div>

<div class="modal-footer">
  	<button type="button" class="btn btn-primary" data-ng-click="modalOptions.ok()" title="Ok...">{{modalOptions.okButtonText}}</button>
</div>

