
<div class="modal-header modal-header-confirm">
	<h4 class="modal-title ng-binding">Information&nbsp;:&nbsp;<span>{{modalOptions.headerText}}</span></h4>
</div>

<div class="modal-body">
  	<p><span>{{modalOptions.bodyText}}</span></p>
</div>

<div class="modal-footer">
  	<button type="button" class="btn btn-success" data-ng-click="modalOptions.ok()" title="Ok...">
  		<span style="vertical-align:top;" data-i18n="ok"> </span>
  	</button>
</div>

<br></br>
<br />