
<div class="modal-header modal-header-confirm">
	<h4 class="modal-title ng-binding">{{modalOptions.headerText}}</h4>
</div>

<div class="modal-body">
  <h4><label>{{modalOptions.bodyText}}</label></h4>
<!--   <a data-ng-if="modalOptions.user.statusOfUser=='Block'" style="color:red"> Block <b style="color:green">to Active</b></a>
  <a data-ng-if="modalOptions.user.statusOfUser=='Active'" style="color:green"> Active <b style="color:red">to Block</b> </a>
  of<b>{{modalOptions.user.firstName}}</b> ?</h4>   -->
</div>

<div class="modal-footer">
	<button class="btn btn-deafult" ng-click="modalOptions.close()"><i class="fa fa-times"></i>&nbsp;{{modalOptions.closeButtonText}}</button>
	<button type="submit" class="btn btn-warning" ng-click="modalOptions.ok()">&nbsp;{{modalOptions.actionButtonText}}</button>
</div>
