
<div class="footer" data-ng-controller="webFooterController">
	<div class="container">
		<div class="row">
			<div class="col-xs-2">
				<p class="back-top pull-right" style="display: block;">
					<a href="" data-ng-click="goToTop()"><span></span></a>
				</p>
			</div>
		</div>
	</div>
</div>

