
<header class="header" data-ng-controller="webHeaderController">
		<div class="header__nav">
			<!-- <div class="grid__container">
				<ul class="header__nav-l">
					<li class="header__nav-item header__my"><a
						class="header__nav-link header__my-link"
						href="https://alpari.com/en/login/">myAlpari</a></li>
					<li class="header__nav-item header__reg"><a
						class="header__nav-link"
						href="https://alpari.com/en/registration/">Register for
							myAlpari</a></li>
				</ul>
				<ul class="header__nav-r">
					<li class="header__nav-item header__partners"><a
						class="header__nav-link header__partners-link js-top-panel-link"
						data-panel="partners" href="/en/company/contacts/">Alpari in
							your Region</a></li>
					<li class="header__nav-item header__news"><a
						class="header__nav-link header__news-link js-top-panel-link"
						data-panel="news" href="/en/company/news/">Company News</a></li>
					<li class="header__nav-item header__langs"><a
						class="header__nav-link header__langs-link js-top-panel-link"
						data-panel="languages" href="http://alpari.com/">English</a></li>
					<li class="header__nav-item header__faq"><a
						class="header__nav-link header__faq-link" href="/en/faq/">FAQs</a></li>
					<li class="header__nav-item header__search"><form
							class="form header__search-form" method="get"
							action="/en/search/">
							<input class="header__search-input" type="search" name="q"
								placeholder="Search">
							<button class="header__search-button" type="submit" tabindex="-1">Find</button>
						</form></li>
				</ul>
			</div> -->
		</div>
		<div class="header__content">
			<img class="header__logo" width="68" height="69" src="images/slides/logo_rhd.png" alt="RHD Logo"><a class="header__birthday"
				href="/en/company/history/">

<!-- 			<ul class="header__contact-list">
				<li class="header__phone"><a dir="ltr" href="tel:+448449869559"></a></li>
				<li class="header__chat"><a
					class="js-trick js-online-chat-link" href="/en/chat/"
					data-url="/en/chat/"></a></li>
			</ul> -->
		</div>
	</header>
	
<!-- <div data-ng-controller="webHeaderController"></div> -->

