
<!--  navbar-fixed-top  -->
<div class="navbar navbar-inverse navbar-static-top" data-ng-controller="webTopMenuController">
	<div class="container">
		<div class="navbar-header">
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#"></a>
		</div>
		<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li data-ng-repeat="webLeftMenu in webLeftMenus">
                    <a href="#/{{webLeftMenu.url}}" data-ng-if="webLeftMenu.child == undefined || webLeftMenu.child.length == 0">{{webLeftMenu.text}}</a>
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" 
						aria-expanded="false" data-ng-if="webLeftMenu.child.length > 0">{{webLeftMenu.text}}<span class="caret"></span></a>
                   <!--  <ul class="dropdown-menu multi-level dropnavmenu" data-ng-if="webLeftMenu.child.length > 0">
                        <li data-ng-repeat="secondLevel in webLeftMenu.child" data-ng-class="secondLevel.child.length > 0 ? 'dropdown-submenu' : ''">
                        	<a href="#/{{secondLevel.url}}" data-ng-if="secondLevel.child == undefined || secondLevel.child.length == 0">{{secondLevel.text}}</a>
                        	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-ng-if="secondLevel.child.length > 0">{{secondLevel.text}}</a>
                        	<ul class="dropdown-menu" data-ng-if="secondLevel.child.length > 0 ">
                                <li data-ng-repeat="thirdLevel in secondLevel.child">
                                	<a href="#/{{thirdLevel.url}}">{{thirdLevel.text}}</a>
                               	</li>
                            </ul>
                       	</li>                
                    </ul> -->
                </li>
            </ul>
		            
            <ul class="nav navbar-nav navbar-right">
				<li><a href="#/{{loginObj.url}}">{{loginObj.text}}</a></li>
			</ul>
			
		</div>
	</div>
</div> 