<!DOCTYPE html>
<br />
<br />
<br />
<div class="row">
	<div class="col-xs-12">
		<div data-ng-include="messagePageLocation"></div>
	</div>
</div>




<div class="container">
	<div class="jumbotron">
		<section class="content-header">
			<h1 align="center">RHD-MIS</h1>
			<h2>
				<b>DPP Information</b>
			</h2>
		</section>
		<form>

			<div class="row form-group">
				<div class="col-md-3 ">
					<label> ID </label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<input type="text" style="width: 250px;" class="form-control"
						placeholder="Enter ID" data-ng-model="dppInfo.oid" />
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-3 ">
					<label> Name </label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<input type="text" style="width: 250px;" class="form-control"
						placeholder="Enter Name in English"
						data-ng-model="dppInfo.projectName" />
				</div>
			</div>
			<!-- <div class="row form-group"><div class="col-md-3"></div>
            	<div class="col-md-15">
 					<input type="text" style="width:250px;"  class="form-control" placeholder="Enter Name in Bangla"data-ng-model="dppInfo.projectName"/>
            	</div>
            </div> -->
			<div class="row form-group">
				<div class="col-md-3 ">
					<label>District</label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<input type="text" style="width: 250px;" class="form-control"
						placeholder="Enter Location" data-ng-model="dppInfo.district" />
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-3">
					<label>Zone/Circle/Division </label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<select name="bridge" class="form-control" style="width: 250px;"
						data-ng-model="dppInfo.zCD">
						<option value="Zone">Zone</option>
						<option value="Circle">Circle</option>
						<option value="Division">Division</option>
					</select>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-3">
					<label> Project Type </label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<select name="projectType" class="form-control"
						style="width: 250px;" data-ng-model="dppInfo.projectType">
						<option value="TA">TA</option>
						<option value="Development">Development</option>
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-3">
					<label>Fund Type </label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<select name="fund" class="form-control" style="width: 250px;"
						data-ng-model="dppInfo.fundType">
						<option value="GOB">GOB</option>
						<option value="FA">FA</option>
					</select>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-3">
					<label>Bridge Project/Road Project: </label> <span
						style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<select name="bridge" class="form-control" style="width: 250px;"
						data-ng-model="dppInfo.brProject">
						<option value="Bridge Project">Bridge Project</option>
						<option value="Road Project">Road Project</option>
					</select>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-3">
					<label>Processed by Plan-1/2 </label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<select name="bridge" class="form-control" style="width: 250px;"
						data-ng-model="dppInfo.processedByPlan">
						<option value="Plan-1">Plan-1</option>
						<option value="Plan-2">Plan-2</option>
					</select>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-3">
					<label>Received by Planning </label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<input type="date" style="width: 250px;" name="txtReceivedPlanning"
						placeholder="Enter Date" class="form-control"
						data-ng-model="dppInfo.receivedByPlanning" />
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-3">
					<label>Status </label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<select name="status" class="form-control" style="width: 250px;"
						data-ng-model="dppInfo.status">
						<option value="In Planning">In Planning</option>
						<option value="In-MRBT">In MRBT</option>
						<option value="In-Planning Commission">In Planning
							Commission</option>
						<option value="Final approval Under Process">Final
							approval Under Process</option>
					</select>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-3 ">
					<label>Budget</label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<input type="text" style="width: 250px;" class="form-control"
						placeholder="Enter Budget" data-ng-model="dppInfo.budget" />
				</div>
			</div>

			<div class="row form-group">
				<button class="btn btn-success" data-ng-click="saveDpp(dppInfo)">
					<span class="glyphicon glyphicon-save"></span> Save
				</button>
			</div>

			<div class="row form-group">
				<label class="control-label col-md-3" for="Description">Description
					<span style="color: red;">*</span>
				</label>
				<div class="col-md-15">
					<textarea class="text-box multiline" data-val="true"
						data-val-required="The Description field is required."
						id="Description" name="Description"
						data-ng-model="dppApproval.approvalDescription"></textarea>
					<span class="field-validation-valid" data-valmsg-for="Description"
						data-valmsg-replace="true"></span>
				</div>
			</div>

			<div class="row form-group">
				<div class="col-md-3">
					<label>Submission Date </label> <span style="color: red;">*</span>
				</div>
				<div class="col-md-15">
					<input type="date" style="width: 250px;" name="sendingDate"
						placeholder="Enter Date" class="form-control"
						data-ng-model="dppApproval.submissionDate" />
				</div>
			</div>

			<div class="row form-group">
				<button type="submit" class="btn btn-primary btn-block"
					data-ng-click="submitDpp(dppApproval)">
					<span class="glyphicon glyphicon-save"></span>Submit
				</button>
				<!--<button type="show" class="btn btn-info"  data-ng-click='showDescription(param)'> <span class="glyphicon glyphicon-show"></span>Show</button>-->
			</div>

		</form>

	</div>
</div>
