<br/>
<br/>
<br/>
<h2 class="text-center" style="margin-top: 4px; margin-bottom: 2px;">Dpp Info List</h2>
<hr style="height: 1px; border: 1px; background-color: green; width: 100%; margin-top: 2px; margin-bottom: 2px;" />
<div calss="form-group" class="container">

	<div class="box-tools">
		<div class="input-group">
			<input type="text" name="table_search" data-ng-model="searchText" class="form-control input-sm pull-right" style="width: 200px;" placeholder="Search">
			<div class="input-group-btn">
				<button class="btn btn-sm btn-default">
					<i class="fa fa-search"></i>
				</button>
			</div>
		</div>
	</div>
	<br />
	<br />
	<div class="tab-pane">
		<div class="tab-pane active" id="list-view">
			<div class="row" style="margin-top: 20px;">
				<!-- <div class="col-xs-12">
				<div data-ng-include="messagePageLocation"></div>
				</div> -->
				<div class="box box-success">
					<div class="box-body">
						<section id="list-table">
							<div class="box-body table-responsive">

								<table border="1" data-ng-table="tableParams"
								class="table table-condensed table-hover">

									<tbody>
										<tr ng-repeat="dppInfo in dppInfos">
											<td data-title="'Project Name'" sortable="'projectName'">{{dppInfo.projectName}}</td>
											<td data-title="'District'" sortable="'district'">{{dppInfo.district}}</td>
											<td data-title="'Zone/Division/Circle'" sortable="'zcd'">{{dppInfo.zCD}}</td>
											<td data-title="'Project Type'" sortable="'projectType'">{{dppInfo.projectType}}</td>
											<td data-title="'Fund Type'" sortable="'fundType'">{{dppInfo.fundType}}</td>
											<td data-title="'Br Project'" sortable="'brProject'">{{dppInfo.brProject}}</td>
											<td data-title="'Processed By Plan'"
											sortable="'processedByPlan'">{{dppInfo.processedByPlan}}</td>
											<td data-title="'Received By Planning'"
											sortable="'receivedByPlanning'">{{dppInfo.receivedByPlanning}}</td>
											<td data-title="'Status'" sortable="'status'">{{dppInfo.status}}</td>
											<td data-title="'Budget'" sortable="'budget'">{{dppInfo.budget}}</td>
											<td data-title="'Description'" sortable="'description'">{{dppInfo.description}}</td>
											<td data-title="'Dpp Document Name'"
											sortable="'dppDocumentName'">{{dppInfo.dppDocumentName}}</td>
											<td data-title="'Dpp Document Location'"
											sortable="'dppDocumentLocation'">{{dppInfo.dppDocumentLocation}}</td>
											<td data-title="'Dpp dppDocumentFileName'"
											sortable="'dppDocumentFileName'">{{dppInfo.dppDocumentFileName}}</td>
											<td data-title="'Receive Date'" sortable="'receiveDate'">{{dppInfo.receiveDate}}</td>
											<td data-title="'Submission Date'"
											sortable="'submissionDate'">{{dppInfo.submissionDate}}</td>

										</tr>
									</tbody>
								</table>

								<div class="box-footer clearfix">
									<div class="col-xs-12">
										<div class="col-md-6 col-sm-4">
											<h5 data-ng-show="filteredDpps.length > 0">{{ pageItemText }}</h5>
											<h5 data-ng-show="filteredDpps.length == 0">No Project Found</h5>
										</div>

										<div class="col-md-6 col-sm-4">
											<pagination data-ng-model="currentPage" data-total-items="filteredTotalRecords"
											data-boundary-links="true" data-max-size="itemsPerPage" data-items-per-page="pageSize"></pagination>
										</div>

									</div>
								</div>
							</div>
						</section>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- Content Header (Page header)
<section class="content-header">
<h1>
Dpp Information <small>Dpp Information List</small>
</h1>
<ol class="breadcrumb">
<li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
<li class="active">Dpp Info List</li>
</ol>
</section>-->

<!-- Main content
<section class="content">
<div class="row">
<div class="col-xs-12">
<div data-ng-include="messagePageLocation"></div>
</div>
</div>

<div class="row">
<div class="col-xs-12">
<div class="box box-primary">
<div class="box-header">
<h3 class="box-title">Dpp Info List</h3>
<div class="box-tools">
<div class="input-group">
<input type="text" name="table_search" data-ng-model="searchText" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search">
<div class="input-group-btn">
<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
</div>
</div>
</div>
</div>
<div class="box-body table-responsive no-padding">
<table class="table table-hover">
<tbody>
<tr ng-repeat="dppInfo in dppInfos">
<td data-title="'Project Name'" sortable="'projectName'">{{dppInfo.projectName}}</td>
<td data-title="'District'" sortable="'district'">{{dppInfo.district}}</td>
<td data-title="'Zone/Division/Circle'" sortable="'zcd'">{{dppInfo.zCD}}</td>
<td data-title="'Project Type'" sortable="'projectType'">{{dppInfo.projectType}}</td>
<td data-title="'Fund Type'" sortable="'fundType'">{{dppInfo.fundType}}</td>
<td data-title="'Br Project'" sortable="'brProject'">{{dppInfo.brProject}}</td>
<td data-title="'Processed By Plan'"
sortable="'processedByPlan'">{{dppInfo.processedByPlan}}</td>
<td data-title="'Received By Planning'"
sortable="'receivedByPlanning'">{{dppInfo.receivedByPlanning}}</td>
<td data-title="'Status'" sortable="'status'">{{dppInfo.status}}</td>
<td data-title="'Budget'" sortable="'budget'">{{dppInfo.budget}}</td>
<td data-title="'Description'" sortable="'description'">{{dppInfo.description}}</td>
<td data-title="'Dpp Document Name'"
sortable="'dppDocumentName'">{{dppInfo.dppDocumentName}}</td>
<td data-title="'Dpp Document Location'"
sortable="'dppDocumentLocation'">{{dppInfo.dppDocumentLocation}}</td>
<td data-title="'Dpp dppDocumentFileName'"
sortable="'dppDocumentFileName'">{{dppInfo.dppDocumentFileName}}</td>
<td data-title="'Receive Date'" sortable="'receiveDate'">{{dppInfo.receiveDate}}</td>
<td data-title="'Submission Date'"
sortable="'submissionDate'">{{dppInfo.submissionDate}}</td>

</tr>
</tbody>
</table>
</div>
<div class="box-footer clearfix">
<div class="col-xs-12">
//<div class="col-md-6 col-sm-4">
<h5 data-ng-show="filteredUsers.length > 0">{{ pageItemText }}</h5>
<h5 data-ng-show="filteredUsers.length == 0">No User Found</h5>
</div>

<div class="col-md-6 col-sm-4">
<pagination data-ng-model="currentPage" data-total-items="filteredTotalRecords"
data-boundary-links="true" data-max-size="itemsPerPage" data-items-per-page="pageSize"></pagination>
/</div>
/</div>
/</div>
</div>
</div>
</div>

</section>-->