
<div class="footer" data-ng-controller="webFooterController">
	<div class="container">
		<div class="row">
			
			<div class="col-xs-5">
				<h4>ABOUT US</h4>
				<p style="font-size: 12px;">Our goal is to keep clients satisfied!</p>
			</div>
			<div class="col-xs-5">
				<h4>GET SOCIAL</h4>
				<div class="social facebook">
					<a></a>
				</div>
				<div class="social twitter">
					<a href="#"></a>
				</div>
			</div>
			<div class="col-xs-2">
				<p class="back-top pull-right" style="display: block;">
					<a href="" data-ng-click="goToTop()"><span></span></a>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="copyright">
	<div class="container">
		<div class="row" style="margin:0px;">
			<div class="col-xs-12" style="padding:0px;">
				 &reg;<span class="small"> Copyright 2015</span>
			</div>
		</div>
	</div>
</div>