

<header data-ng-controller="appHeaderController">
	<div id="slides_control">
		<div>
			<!-- <carousel interval="myInterval">
				<slide ng-repeat="slide in slides" active="slide.active">
					<img ng-src="{{slide.image}}" height="120px" />
					<div class="carousel-caption">
						<h4>Slide {{$index+1}}</h4>
					</div>
				</slide>
			</carousel> -->
			<br/>
			
		</div>
	</div>
</header>